@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.rubik-light {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.home-header {
  background-image: url(../assets/images/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
}


.aboutUsbg {
  background-image: url(../assets/images/bg-home.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.papelaria {
  background-image: url(../assets/images/papelaria.jpg)
}

.limpeza {
  background-image: url(../assets/images/limp.jpg)
}

.alpinismo {
  background-image: url(../assets/images/aplinismo.jpg)
}

.logistica {
  background-image: url(../assets/images/logistica.jpg)
}

.catering {
  background-image: url(../assets/images/catering.jpg)
}

.guard {
  background-image: url(../assets/images/guard.png)
}

.papelaria, .alpinismo, .catering, .logistica, .limpeza, .guard {
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: .3s;
}

.papelaria:hover, .alpinismo:hover, .catering:hover, .guard:hover, .logistica:hover, .limpeza:hover {
  filter: grayscale(0%);
  background-position-x: -40px;
}